*{
    margin: 0;
    padding: 0;
    font-family:'Poppins',sans-serif;
    font-weight: bold;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(ispred.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px; 
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #3542f8;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text h1{
    font-size: 62px;
}
.text p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration:none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer; 
}
.hero-btn:hover{
    border: 1px solid #3542f8;
    background: #3542f8;
    transition: 1s;
}
nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
     font-size: 25px;
 }
 .nav-links ul li{
    display: block;
 }
 .nav-links{
    position: absolute;
    background: #3542f8 ;
    height: 100vh;
    width: -200px;
    top: 0;
    right: 0;
    text-align:left;
    z-index: 2;
    transition: 1s;
 }
 nav .fa{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
 }
  .nav-links{
    padding: 30px;
  }
}


.smerovi{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600px;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300px;
    line-height: 22px;
    padding: 10px;
}
.red{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.kurs-kol{
    flex-basis: 31%;
    background-color:#b2b7ff ;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;

}
.kurs-kol:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0 , 0 , 2);
}
@media(max-width: 700px){
    .red{
        flex-direction: column-reverse;
    }
}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.ikonice .fa{
    color:#4552ff ;
    margin: 0 13px;
    cursor: pointer;
    pad: 18px 0;
}
.drugi-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(proba2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.drugi-header h1{
    font-size: 100px;
}
.o-nama{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.info-kol{
    flex-basis: 48%;
    padding: 30px 2px;
}
.info-kol img{
    width: 100%;
}
.info-kol h1{
    padding-top: 0;
}
.info-kol p{
    padding: 15px 0 25px;
}
.plavi{
    border: 1px solid #4b4bff;
    background: transparent;
    color: #4b4bff;
}
.plavi:hover{
    color: #fff;
}
.blog-kontent{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}
.blog-levo{
    flex-basis: 65%;
}
.blog-desno{
    width: 100%;
}
.blog-levo h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}
.blog-levo p{
    color: #999;
    padding: 0;
}
.blog-desno{
    flex-basis: 32%;
}
.blog-desno h3{
    background: #407cff;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
}
.blog-desno div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    box-sizing: border-box;
}
.komentari{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}
.komentari h3{
    text-align: left;
}
.komentar-form input, .komentar-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}
.komentar-form button{
    margin:  10px 0;
}
.lokacija{
    width: 80%;
    margin: auto;
    padding: 80px;
}
.lokacija iframe{
    width: 100%;
}
.Kontakt{
    width: 80%;
    margin: auto;
}
.kontakt-kol{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.kontakt-kol div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.kontakt-kol div .fa{
    font-size: 28px;
    color: #3542f8;
    margin: 10px;
    margin-right: 30px;
}
.kontakt-kol div p{
    padding: 0;
}
.kontakt-kol div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.kontakt-kol input, .kontakt-kol textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
}